.responded-ticket {
  border-radius: 5px;
  background-color: #ffffff;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;

  .title {
    font-size: 20px;
    line-height: 24px;
    color: #6f6f6f;
    margin-bottom: 5px;

    .type-ticket {
      font-size: 20px;
      color: #02aa51;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .location {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6f6f;
    &:hover{
      a{
        opacity: 0.7;
      }
    }
    a{
      color: #6f6f6f;
      text-decoration: none;
    }
  }

  hr {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .trash {
    right: 25px;
    padding: 15px 0;
    color: #707070;
    position: absolute;
  }

  .date {
    color: #00afec;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    border: 1px solid #00afec;
    border-radius: 5px;
    margin-right: 20px;
    max-width: 90px !important;

    .day {
      font-size: 41px;
      line-height: 50px;
      word-wrap: break-word;
    }

    .month {
      word-wrap: break-word;
    }
  }

  .text-left{
    padding-top: 15px;
  }

  .price-starts {
    color: #6f6f6f;
    font-size: 12px;
    display: inline-block;
    padding-right: 10px;
  }

  .price {
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    color: #6f6f6f;
    letter-spacing: normal;
    display: block;
  }

  .title-info{
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: #00afec;
    text-transform: uppercase;
    padding-top: 5px;
  }

  .ticket-info{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: #00afec;
    text-transform: uppercase;
  }

  .seller{
    position: relative;
    padding-left: 50px;
    img{
      left: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
    }
    .about-seller {
      .name {
        display: block;
        font-size: 10px;
        text-transform: uppercase;
        color: #6f6f6f;
        font-weight: 700;
      }
      .number-tickets{
        display: block;
        font-size: 12px;
        color: #02aa51;
        font-weight: 500;
      }
    }
  }

  button {
    &.goToEvent {
      background-color: #02aa51;
      border: none;
      border-radius: .25rem;
      padding: 15px 5px !important;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 10px;
      cursor: pointer;
      min-width: 170px;

      &:hover {
        background-color: #1ad26c;
      }
    }
  }

}

@media (max-width: 1024px) {
  .responded-ticket{
    button.goToEvent {
      min-width: 130px;
    }
    .date {
      margin-right: 15px;
    }
  }
}

@media (max-width: 768px) {
  .responded-ticket {
    .price-starts{
      font-size: 18px;
    }
    .date .day{
      font-size: 32px;
    }

    button.goToEvent{
      min-width: 110px;
    }
    button.goToEvent,
    .seller {
      display: none;
    }
  }
}
@media (max-width: 575px) {
  .responded-ticket{
    .date {
      margin-right: 0;
      max-height: 120px;
    }
    .title{
      font-size: 16px;
      .type-ticket{
        font-size: 16px;
      }
    }
    .text-right{
      text-align: center !important;
    }
  }
}