.requested-tickets {
  h4{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-left: 15px;
    margin-bottom: 30px;
    color: #6f6f6f;
    &:before{
      content: "";
      width: 4px;
      height: 100%;
      left: 0;
      background-color: #02aa51;
      position: absolute;
    }
  }
}
.ask-tickets{
  h4{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 15px;
    margin-bottom: 30px;
    color: #6f6f6f;
    position: relative;
    &:before{
      content: "";
      width: 4px;
      height: 100%;
      left: 0;
      background-color: #02aa51;
      position: absolute;
    }
  }
  .btn-back{
    position: absolute;
    right: 0;
    top: 0;
    color: #02aa51;
  }
  .request-block{
    position: relative;
    padding-right: 0;
    .make-request-ticket{
      .col-name{
        font-size: 16px;
        color: #6f6f6f;
        width: 20%;
        display: inline-block;
      }
      .ticket-name, .amount-field{
        width: 50%;
        border: 1px solid #a0a0a0;
        border-radius: 5px;
        padding: 5px 10px;
        color: #a0a0a0;
      }
      select.select-ticket {
        width: 50%;
        border: 1px solid #a0a0a0;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 0;
        font-weight: 400;
        color: #a0a0a0;
        background-color: #ffffff;
        -webkit-box-shadow: 1px 11px 24px 0px rgba(160, 160, 160,0.09);
        -moz-box-shadow: 1px 11px 24px 0px rgba(160, 160, 160,0.09);
        box-shadow: 1px 11px 24px 0px rgba(160, 160, 160,0.09);
      }
      .type-row{
        margin-bottom: 20px;
        .search-auto-complete{
          top: 65px;
        }
      }
      .select-ticket{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        .event-name {
          display: block;
          margin-bottom: 20px;
        }
      }
      .type-ticket{
        margin-bottom: 20px;
      }
      .amount-ticket{
        margin-bottom: 20px;
      }
    }
    .btn-right{
      position: absolute;
      right: 0;
      .button{
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}
.Modal {
  .modal-save-profile {
    padding: 20px;
    position: relative;
    &.modal-class-success {
      border: 1px solid #2c9a42;
      .modal-close-but {
        &:before, &:after {
          background-color: #2c9a42;
        }
      }
    }
    h5 {
      font-size: 16px;
      vertical-align: middle;
      line-height: 18px;
      color: #6f6f6f;
    }
    .success-msg {
      h5 {
        color: #2c9a42;
        margin-bottom: 20px;
      }
    }
    .modal-close-but {
      position: absolute;
      top:0;
      right:0;
      width: 20px;
      height:20px;
      cursor: pointer;
      &:before, &:after {
        width: 2px;
        height: 15px;
        position: absolute;
        top:50%;
        left:50%;
        content: '';
        background-color: #000;
      }
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .close-btn {
      background-color: #6f6f6f;
      text-transform: uppercase;
      font-weight:bold;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      color: #ffffff;
      padding: 5px;
      margin-right: 10px;
      &:hover {
        opacity: 0.7;
      }
    }
    .confirm-btn {
      background-color: #02aa51;
      text-transform: uppercase;
      font-weight:bold;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      color: #ffffff;
      padding: 5px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}