.search-auto-complete {
    position: absolute;
    width: 60%;
    top: 65px;
    left: 0;
    margin: auto;
    right: 0;
    background: #ffffff;
    margin-top: 4px;
    text-align: left;
    padding: 8px 0;
    z-index: 1;
    overflow-y: auto;
    border-radius: 4px;
    animation: show 200ms;
    -webkit-box-shadow: 0px -1px 18px 5px rgba(111,111,111,0.35);
    -moz-box-shadow: 0px -1px 18px 5px rgba(111,111,111,0.35);
    box-shadow: 0px -1px 18px 5px rgba(111,111,111,0.35);
}

.auto-complete-result:hover{
    text-decoration: none;
}

.auto-complete-result .div.row {
    margin: 0;
}

.auto-complete-tabs--item .auto-complete-result h3{
    font-size: 16px;
    color: #6f6f6f;
}
.auto-complete-tabs--item .auto-complete-result h4 a{
    color: #6f6f6f;
}

.auto-complete-result:hover {
    background-color: #f8f8f8;
}

.auto-complete-result .available {
    /*color: #02aa51;*/
    color: #838383;
    font-size: 15px;
}

.auto-complete-result .wanted {
    color: #18a4d8;
    font-size: 15px;
}

.auto-complete-result .price {
    /*color: #02aa51;*/
    color: #838383;
    font-weight: 500;
}

.auto-complete-result-request {
    margin: 0;
    padding: 8px 15px 6px 15px;
    position: relative;
    outline: 0;
    cursor: pointer;
    transition: background 200ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #001319;
    font-size: 18px;
}
.search-auto-complete .auto-complete-result h4 a{
    color: #6f6f6f;
}
.search-auto-complete .auto-complete-result h4:hover a{
    color: #02aa51;
}
.search-auto-complete .auto-complete-tabs--more a{
    color: #6f6f6f;
}
.search-auto-complete .auto-complete-tabs--more:hover a{
    color: #02aa51;
}