
.ticket-requested {
  border-radius: 5px;
  background-color: #fff;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 20px 20px 20px 5px;
  &.outdated {
    position: relative;
    .btn-write-review {
      z-index: 2;
      position: relative;
    }
  }
  &.outdated:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    background: rgba(255, 255, 255, 0.6);
  }
  hr{
    margin: 10px 0;
  }
  .trash {
    right: 25px;
    padding: 15px 0;
    color: #707070;
    position: absolute;
  }
  .info-event{
    position: relative;
    padding-left: 70px;
    .title{
      font-size: 20px;
      line-height: 24px;
      color: #6f6f6f;
      margin-bottom: 5px;
      .type-ticket {
        font-size: 20px;
        color: #02aa51;
        font-weight: 600;
        text-transform: uppercase;
        margin-right: 5px;
      }
    }
    img {
      left: 0;
      width: 57px;
      height: 57px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
    }
    .location {
      font-size: 14px;
      line-height: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: #6f6f6f;
      display: block;
      text-decoration: none;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        opacity:0.7;
      }
    }
  }
  .date-wr {
    position: relative;
    &:before {
      position: absolute;
      top:0;
      left:15px;
      height:100%;
      width: 90px;
      content: '';
      border: 1px solid #00afec;
      border-radius: 5px;
    }
    .date {
      color: #00afec;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      padding-left: 15px;
      .day {
        font-size: 41px;
        line-height: 50px;
        word-wrap: break-word;
      }
      .month {
        word-wrap: break-word;
      }
    }
  }
  .price-info {
    text-align: right;
    .goToEvent {
      display: block;
      text-decoration: none;
      background-color: #02aa51;
      border: none;
      border-radius: .25rem;
      padding: 15px;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 10px;
      cursor: pointer;
      min-width: 170px;
      &:hover {
        background-color: #1ad26c;
      }
    }
  }
  .price-starts {
    color: #6f6f6f;
    font-size: 12px;
    padding-right: 10px;
  }
  .price {
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    color: #6f6f6f;
    letter-spacing: normal;
  }
  .title-info {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: #00afec;
    text-transform: uppercase;
    padding-top: 5px;
  }
  .ticket-info {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: #00afec;
    text-transform: uppercase;
  }
  .about-seller {
    .name {
      display: block;
      font-size: 10px;
      text-transform: uppercase;
      color: #6f6f6f;
      font-weight: 700;
    }
    .number-tickets {
      display: block;
      font-size: 12px;
      color: #02aa51;
      font-weight: 500;
    }
  }
}

@media (max-width: 767px) {
  .ask-tickets {
    .ticket-requested {
      padding: 20px 5px;
      .price-info {
        text-align:left;
        .price-starts {
          margin-top: 15px;
          font-size:18px;
        }
      }
    }
    .location {
      a {
        font-size:18px;
      }
    }
  }
}

@media (max-width: 400px) {
  .ask-tickets {
    .ticket-requested {
      padding: 20px 5px 20px 20px;
      .date-wr {
        &:before {
          left:0;
          height:100%;
          width: 100%;
        }
        .date {
          padding-left: 0;
          .day {
            font-size: 36px;
          }
        }
      }
    }
  }

}