.item-block{
  margin-bottom: 20px;
  .title-name{
    font-size: 16px;
    color: #6f6f6f;
    width: 20%;
    font-weight: 400;
    display: inline-block;
  }
  .input-type{
    width: 50%;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    padding: 5px 10px;
    color: #ffffff;
    cursor: not-allowed;
    background-color: #ccc;
  }
  .type-date{
    width: 50%;
    display: inline-block;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 400;
    color: #ffffff;
    cursor: not-allowed;
    background-color: #ccc;
  }
}
