.make-request {
  color: #6f6f6f;
  .content-rounded {
    margin-top: 0;
  }
  h4{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-left: 15px;
    margin-bottom: 30px;
    &:before{
      content: "";
      width: 4px;
      height: 100%;
      left: 0;
      background-color: #02aa51;
      position: absolute;
    }
  }
  .request {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    span {
      display: block;
      margin-bottom: 30px;
    }
    button {
      display: block;
      background-color: #02aa51;
      color: #ffffff;
      border: none;
      font-weight: 700;
      border-radius: 5px;
      cursor: pointer;
      text-transform: uppercase;
      padding: 20px 40px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}